# Conditional logic

## if-else-elif

`if` condition 1`:`

    body to execute 
    
`elif` condition 2`:`

    body to execute
    
`else:`

    deafult body

In [10]:
a = 3

if a ==1:                    # condition 1 
    print("A")             
elif a == 3:                 # condition 2
    print("B")
else :                       # Deafult body (if not any condition is fullfilled.)
    print("C")

B

# Truthy and Falsey

In [11]:
print(bool('Hello'))          # Any non empty string is considered as truthy.

True

In [12]:
print(bool(''))               # Empty strings is considered as falsey.

False

In [13]:
print(bool(5))                # Any non-number is considered as Truthy.

True

In [14]:
print(bool(0))                # Zero is considered as Falsey.

False

# Ternary Operator

if true `if` conditon `else` if false

In [16]:
a =3 
print('A') if a == 3 else print('B')

A

In [17]:
a = 4
print('A') if a == 3 else print('B')

B

# Logical Operators

a `>`b      :is a greater than b 

a `<`b      :is a smaller than b 

a `>=` b     :is a greater than or equals to b

a `<=` b     :is a smaller than or equals to b

a `==` b     :is a equals to b 

a `!=` b     :is a not equals to b 

a `and` b    :is a and b both are true 

a `or` b     :is a or b , one of these are true

`not`a       :gives opposite value of a

In [18]:
print(4 > 5)

False

In [20]:
print(4 != 5)

True

Ascii (American Standard Code for Information Interchange) Value 

ASCII value of `a` : 97

ASCII value of `A` : 65

In [19]:
print('a' > 'A')

True

In [21]:
print(1<2<3<4)

True

In [22]:
a = True
b = False 
print (a or b)
print(a and b)

True
False

In [24]:
print(not(a))
print(not(b))

False
True

# 'is' vs '=='
`True` is a logical operator while
`is` checks : Is the location of memory same or different

In [6]:
print(True == 1)
print('1' == 1)
print([] == 1)
print(10 == 10.0)
print([1,2,3] == [1,2,3])

True
False
False
True
True

In [7]:
print(True is 1)
print('1' is 1)
print([] is 1)
print(10 is 10.0)
print([1,2,3] is [1,2,3])

False
False
False
False
False

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipykernel_5088/3217358265.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(True is 1)
/tmp/ipykernel_5088/3217358265.py:2: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  print('1' is 1)
/tmp/ipykernel_5088/3217358265.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print([] is 1)
/tmp/ipykernel_5088/3217358265.py:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(10 is 10.0)

In [1]:
a = [1,2,3]
b = [1,2,3]
print(a is b )

False

In [2]:
a = [1,2,3]
b = [1,2,3]
a = b            # makes a same location in memory
print(a is b )

True

# For loops

In [4]:
for item in 'Aditya':   #For stirngs
    print(item)

A
d
i
t
y
a

In [7]:
for item in [1,2,3,4,5]:    # For list
     print(item)

1
2
3
4
5

In [8]:
for item in (1,2,3,4,5):    # For tuples
    print(item)

1
2
3
4
5

In [9]:
for item in 'Aditya':   #For stirngs
    print(item)
print(item)             # items latest value is `a`

A
d
i
t
y
a
a

In [10]:
for item in [1,2,3,4,5]:          # Nested for loops
    for x in ['a','b','c']:
        print(item , x )

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

### `For` loops for Dictionary

In [2]:
user = {
    'name' : 'Golem',
    'age' : 23,
    'can_swim' : True
}

# To print keys of dictionary
for item in user:
    print (item)

name
age
can_swim

In [3]:
# To print values of dictionary
for item in user.values():
    print(item)

Golem
23
True

In [4]:
for item in user.items():
    print(item)

('name', 'Golem')
('age', 23)
('can_swim', True)

In [14]:
for key,value in user.items():
    print(key,value)

name Golem
age 23
can_swim True

# Range function

In [3]:
print(range(3,100))

range(3, 100)

In [10]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [6]:
for number in range(2,20,2):           #( start , stop , jumpover)
    print(number)

2
4
6
8
10
12
14
16
18

In [9]:
for number in range(10,2,-1):          
    print(number)

10
9
8
7
6
5
4
3

# `enumerate` function

In [13]:
for i , char in enumerate('Hello'):
    print(i,char)

0 H
1 e
2 l
3 l
4 o

In [14]:
for i , char in enumerate([1,2,3,4]):
    print(i,char)

0 1
1 2
2 3
3 4

In [17]:
for i , char in enumerate((1,2,3,4)):
    print(i,char)

0 1
1 2
2 3
3 4

# While loops

`while` condition:

    body to execute

In [3]:
i = 0 
while i < 10:
    i = i+1  # or i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

## for vs while loop

In [7]:
my_list=[1,2,3]
i =0 
while i < len(my_list):
    i+=1
    print(i)

1
2
3

In [8]:
for item in my_list:
    print(item)

1
2
3

# break , continue and pass

In [14]:
for i in range(10):   # exits permanently from the loop
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [15]:
for i in range(10):    # only skips the particular iteration.
    if i == 6
        continue
    print(i)

0
1
2
3
4
5
7
8
9

In [18]:
for i in range(10):   # passes to the next line
    # user will write the code later
    pass

0
1
2
3
4
5
6
7
8
9