<img src ="python1.jpeg"/>

# Printing

In [2]:
print("Aditya Singh")
#Or
print('Aditya Singh')

Aditya Singh
Aditya Singh

# Taking input

In [3]:
input("What is your name ?")

What is your name ? Aditya

'Aditya'

In [3]:
name = input('What is your name ?')  # storing input in a variable "name"
print ('hello ' + name)

What is your name ? Aditya

hello Aditya

# Python Datatypes

## int and float

In [4]:
#int
print(3 + 3)  # Addition
print(3 - 2)  # Subtraction we saw in the 2022-2024 noone is immune to layoffs. You might be one of the best and still get fired when they donâ€™t need you anymore.
print(4*2)    # Multiplication
print(type(3))   # type() will print the datatype of any object

6
1
8
<class 'int'>

In [5]:
#float 
print(3.3 + 2.6) 
print(type(4.6))

5.9
<class 'float'>

In [6]:
print(type(20 + 1.1))

<class 'float'>

In [7]:
print(2**3)  # a**b means a^b

8

In [8]:
print(3//4)  # a//b operator round offs the answer of a/b to a integer

0

In [9]:
print(5%4)   # a%b gives the remainder of 5/4

1

## Math Function

In [10]:
print(round(3.1)) # To round off any number to its closest integer

3

In [11]:
print(abs(-20)) # To get absolute value of any nymber

20

In [12]:
print(bin(5)) # Changing integer to binary

0b101

In [13]:
print(int('0b101',2)) # Changing binary to integer (base = 2)

5

In [14]:
print(complex(2,3)) # Complex numbers

(2+3j)

# Operator Precedence

In [15]:
# Just like BODMAS in maths 
print(20-3*4)

8

In [16]:
''' 1.()
    2.**
    3.* /
    4.+ - '''

' 1.()\n    2.**\n    3.* /\n    4.+ - '

# Variables

In [17]:
# To store information in computer
iq = 190 
print(iq)

190

In [18]:
a,b,c= 1,2,3
print(a,b,c)

1 2 3

<img src = "python2.jpeg"/>

In [19]:
# snake_case
user_age = 18  # Don't use space in variable names instead use underscore
print(user_age)

18

In [20]:
print(user_AGE) # Case sensitive

NameError: name 'user_AGE' is not defined

In [21]:
print = 3     # Don't use python keywords as variable names 
print(print)

TypeError: 'int' object is not callable

# Constant

In [1]:
PI = 3.14 #make it in capital letters so other programers know it is a constant
print(PI)

3.14

# Augmented Assignment operator

In [4]:
a = 5
a += 2 # meaning a = a + 2
print(a)

7

In [5]:
b = 8
b -= 3 # meaning b = b - 3
print(b)

5

# String

In [6]:
'Helloo , this is a string !'
print(type('Helloo , this is a string !'))

<class 'str'>

In [7]:
print("he"*4)

hehehehe

In [8]:
long_string = ''' This 
is 
a long
string or multiline 
string '''
print(long_string)

 This
is
a long
string or multiline
string

### String concatinition

In [9]:
first_name = 'Aditya '
second_name = 'Singh'
full_name = first_name + second_name 
print(full_name)

Aditya Singh

In [10]:
len(full_name)    # To get the length of a string

12

# Type conversion

In [11]:
print(str(100))

100

In [12]:
print(type(str(100)))

<class 'str'>

In [13]:
print(type(int(str(100))))

<class 'int'>

# Escape Sequence

In [14]:
print('  ''  ')

In [15]:
print('  \'\'  ')  # To print '' use \' instead of using only '

  ''

In [16]:
# \t means tab 
print("\t Hello")

	 Hello

In [17]:
# \n means next line 
print("Hello \n learner")

Hello
 learner

# Formated string

In [18]:
name = 'John'
age = 55
print(f'hi {name} You are {age} years old')

hi John You are 55 years old

In [19]:
print('hi {} You are {} years old'.format(name,age))

hi John You are 55 years old

In [20]:
print('hi {1} You are {0} years old'.format(name,age))

hi 55 You are John years old

# String indexes

In [21]:
str_1 = 'Aditya'    #Aditya
str_1[0]            #012345

'A'

In [22]:
str_1[4]

'y'

In [23]:
str_1[2:5]

'ity'

In [24]:
str_1[1:6:2]   #[start:stop:stepover]

'dta'

In [25]:
str_1[-1]      # From last

'a'

In [26]:
print(str_1)

Aditya

# Strings are immutable

In [27]:
string = "123456"
string[0] = 3
print(string)

TypeError: 'str' object does not support item assignment

In [28]:
string = "123456"
string = "3"      # We can assign new string 
print(string)

3

# String methods

In [29]:
quote = "to be or not to be"
print(quote.upper())
print(quote.capitalize())

TO BE OR NOT TO BE
To be or not to be

In [30]:
print(quote.find("be"))

3

In [31]:
print(quote.replace("be","me"))

to me or not to me

In [32]:
print(quote)

to be or not to be

In [33]:
# capitalize()	Converts the first character to upper case
# casefold()	    Converts string into lower case
# center()	    Returns a centered string
# count()	        Returns the number of times a specified value occurs in a string
# encode()	    Returns an encoded version of the string
# endswith()	    Returns true if the string ends with the specified value
# expandtabs()	Sets the tab size of the string
# find()	        Searches the string for a specified value and returns the position of where it was found
# format()	    Formats specified values in a string
# format_map()	Formats specified values in a string
# index()	        Searches the string for a specified value and returns the position of where it was found
# isalnum()	    Returns True if all characters in the string are alphanumeric
# isalpha()	    Returns True if all characters in the string are in the alphabet
# isascii()	    Returns True if all characters in the string are ascii characters
# isdecimal()	    Returns True if all characters in the string are decimals
# isdigit()	    Returns True if all characters in the string are digits
# isidentifier()	Returns True if the string is an identifier
# islower()	    Returns True if all characters in the string are lower case
# isnumeric()	    Returns True if all characters in the string are numeric
# isprintable()	Returns True if all characters in the string are printable
# isspace()	    Returns True if all characters in the string are whitespaces
# istitle()	    Returns True if the string follows the rules of a title
# isupper()	    Returns True if all characters in the string are upper case
# join()	        Converts the elements of an iterable into a string
# ljust()	        Returns a left justified version of the string
# lower()	        Converts a string into lower case
# lstrip()	    Returns a left trim version of the string
# maketrans()	    Returns a translation table to be used in translations
# partition()	    Returns a tuple where the string is parted into three parts
# replace()	    Returns a string where a specified value is replaced with a specified value
# rfind()	        Searches the string for a specified value and returns the last position of where it was found
# rindex()	    Searches the string for a specified value and returns the last position of where it was found
# rjust()	        Returns a right justified version of the string
# rpartition()	Returns a tuple where the string is parted into three parts
# rsplit()	    Splits the string at the specified separator, and returns a list
# rstrip()	    Returns a right trim version of the string}
# split()	        Splits the string at the specified separator, and returns a list
# splitlines()	Splits the string at line breaks and returns a list
# startswith()	Returns true if the string starts with the specified value
# strip()	        Returns a trimmed version of the string
# swapcase()	    Swaps cases, lower case becomes upper case and vice versa
# title()      	Converts the first character of each word to upper case
# translate()	    Returns a translated string
# upper()	        Converts a string into upper case
# zfill()	        Fills the string with a specified number of 0 values at the beginning

# Booleans

In [34]:
# Gives a value True or False

# Lists[]

In [35]:
li = [1,2,3]
li_2 = ['a','b',True,1.2,7]
li_2[4]

7

In [55]:
li_2[0]

'a'

In [56]:
type(li_2[0])

str

## Lists slicing

In [36]:
amazon_cart =['notebooks',
             'sunglasses',
             'toys',
             'grapes'
             ]
print(amazon_cart[0:4:2])  # [start:stop:stepover]

['notebooks', 'toys']

In [37]:
# Lists are mutable
amazon_cart[1] = 'opticals'
amazon_cart

['notebooks', 'opticals', 'toys', 'grapes']

## Matrix (Multi-dimensional list)

In [38]:
matrix = [
    [1,2,3],
    [2,4,6],
    [4.6,8]
]
matrix[0][1]

2

## List methods

In [39]:
basket = ['a','b','c','d','e','f']
len(basket)    # Gives length of a list

6

In [40]:
basket = ['a','b','c','d','e','f']
basket.append('g')   # Adds element to the list
print(basket)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [49]:
basket = ['a','b','c','d','e','f']
basket.insert(4,'d')   # To insert element at an index in the list [index, element]
print(basket)

['a', 'b', 'c', 'd', 'd', 'e', 'f']

In [50]:
basket = ['a','b','c','d','e','f']
basket.extend(['g','h'])  # to extend many elements into the list 
print (basket)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [51]:
basket = ['a','b','c','d','e','f']
basket.pop(0)  # Delete the mentioned index element from list
print(basket)

['b', 'c', 'd', 'e', 'f']

In [53]:
basket = ['a','b','c','d','e','f']
basket.remove('c')  # Delete the mentioned element from list
print(basket)

['a', 'b', 'd', 'e', 'f']

In [45]:
basket = ['a','b','c','d','e','f']
basket.clear()   # Delete all the elements from list
print(basket)

[]

In [60]:
basket = ['a','b','c','d','e','f']
print(basket.index('c'))      # Prints the index of mentioned element  
print(basket.index('d',0,4))  # Searches element from 0 to 4 (element to find , starting index , stopping index)

2
3

In [62]:
basket = ['a','b','c','d','e','f']
print('c' in basket )      # To check whether the element is in the list or not
print('x' in basket)
print('i' in 'hi my name is Adii')

True
False
True

In [65]:
basket = ['a','b','c','d','e','f']
print(basket.count('d'))  # Prints the number of an element repeting in the list

1

In [66]:
basket = ['a','c','d','b','e','f']
basket.sort()  # Sorts the elements in a order
print(basket)

['a', 'b', 'c', 'd', 'e', 'f']

In [67]:
list = ['a','l','e','j','c']
print(sorted(list))

['a', 'c', 'e', 'j', 'l']

In [72]:
# append()	Adds an element at the end of the list
# clear()	Removes all the elements from the list
# copy()	Returns a copy of the list
# count()	Returns the number of elements with the specified value
# extend()	Add the elements of a list (or any iterable), to the end of the current list
# index()	Returns the index of the first element with the specified value
# insert()	Adds an element at the specified position
# pop()	    Removes the element at the specified position
# remove()	Removes the first item with the specified value
# reverse()	Reverses the order of the list
# sort()	Sorts the list

In [71]:
basket = ['a','c','d','b','e','f']
basket.reverse()
basket

['f', 'e', 'b', 'd', 'c', 'a']

In [1]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [6]:
sentence = ''
new_sentence = sentence.join(['Hi','my','name','is','jojo'])
print(new_sentence)

Himynameisjojo

In [7]:
sentence = '  '
new_sentence = sentence.join(['Hi','my','name','is','jojo'])
print(new_sentence)

Hi  my  name  is  jojo

## List unpacking

In [10]:
a,b,c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [12]:
a,b,c, *other = [1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(other)

1
2
3
[4, 5, 6, 7, 8, 9]

# None

In [13]:
a = None
print(a)

None

# Dictionaries (dict){}

In [1]:
dictionary = {
    'a':[1,2,3],     # list in dictionary
    'b':'hello'      # string in dictionary
}
# 'Keys': Values 
# Keys are stored in different memory (No indexing )
print(dictionary['b'])

hello

In [6]:
# Dictionaries in list 
my_list = [
    {                           
    'a':[1,2,3],     
    'b':'hello'      
},
    {
    'a':[4,5,6],     
    'b':'Aadi'      
}
]

print(my_list[0]['a'][2])
print(my_list[1]['b'][0])

3
A

In [2]:
# keys can be any datatype in dictionary.
dictionary = {
    123 :[1,2,3],     # list in dictionary
    True:'hello'      # string in dictionary
}
print(dictionary[123])

[1, 2, 3]

## Dictionary Methods

In [11]:
user = {
    'basket':[1,2,3],
    'greet':'hello'
    
}

print(user.get('age',55))      # get adds the key and its value to dictionary

55

In [2]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age':20                   # if key is already present then 
}

print(user.get('age',55))      # old \ deafult value gets printed

20

In [3]:
user2 = dict(name ='John')     # making dictionary
print(user2)

{'name': 'John'}

In [4]:
print('basket' in user)         # to check whether a key exist into dictionary or not

True

In [5]:
print('age' in user.keys())     # to check whether a key exist into dictionary or not

True

In [6]:
print(20 in user.values())      # to check whether a value exist into dictionary or not

True

In [7]:
print(user.items())             # prints all the items of dictionary

dict_items([('basket', [1, 2, 3]), ('greet', 'hello'), ('age', 20)])

In [8]:
user.clear()                    # remove all items from a dictionary
print(user)

{}

In [10]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age':20                   # if key is already present then 
}

print(user.get('age',55))      # old \ deafult value gets printed

20

In [11]:
print(user.pop('age'))         # pop deletes the key and its value from dictionary
print(user)

20
{'basket': [1, 2, 3], 'greet': 'hello'}

In [12]:
user.popitem()                 # deletes any random key value
print(user)

{'basket': [1, 2, 3]}

In [14]:
user.update({'age': 55})       # To add another dictionary to one 
print(user)

{'basket': [1, 2, 3], 'age': 55}

# Tuples ()

In [ ]:
# Tuples are less flexible than lists.
# You can't sort elements in a tuple.

In [15]:
my_tuple = (1,2,3,4,5)         # Tuples are immutable
my_tuple[1] ='z'

TypeError: 'tuple' object does not support item assignment

In [16]:
print (5 in my_tuple)

True