<img src ="python1.jpeg"/>

# Printing

In [2]:
print("Aditya Singh")
#Or
print('Aditya Singh')

Aditya Singh
Aditya Singh

# Taking input

In [3]:
input("What is your name ?")

What is your name ? Aditya Singh

'Aditya Singh'

In [6]:
name = input('What is your name ?')  # storing input in a variable "name"
print ('hello ' + name)

What is your name ? Aditya

hello Aditya

# Python Datatypes

## int and float

In [3]:
#int
print(3 + 3)  # Addition
print(3 - 2)  # Subtraction
print(4*2)    # Multiplication
print(type(3))   # type() will print the datatype of any object

6
1
8
<class 'int'>

In [4]:
#float 
print(3.3 + 2.6) 
print(type(4.6))

5.9
<class 'float'>

In [5]:
print(type(20 + 1.1))

<class 'float'>

In [6]:
print(2**3)  # a**b means a^b

8

In [7]:
print(3//4)  # a//b operator round offs the answer of a/b to a integer

0

In [8]:
print(5%4)   # a%b gives the remainder of 5/4

1

## Math Function

In [9]:
print(round(3.1)) # To round off any number to its closest integer

3

In [10]:
print(abs(-20)) # To get absolute value of any nymber

20

In [13]:
print(bin(5)) # Changing integer to binary

0b101

In [14]:
print(int('0b101',2)) # Changing binary to integer (base = 2)

5

In [16]:
print(complex(2,3)) # Complex numbers

(2+3j)

# Operator Precedence

In [11]:
# Just like BODMAS in maths 
print(20-3*4)

8

In [12]:
''' 1.()
    2.**
    3.* /
    4.+ - '''

' 1.()\n    2.**\n    3.* /\n    4.+ - '

# Variables

In [17]:
# To store information in computer
iq = 190 
print(iq)

190

In [2]:
a,b,c= 1,2,3
print(a,b,c)

1 2 3

<img src = "python2.jpeg"/>

In [18]:
# snake_case
user_age = 18  # Don't use space in variable names instead use underscore
print(user_age)

18

In [20]:
print(user_AGE) # Case sensitive

NameError: name 'user_AGE' is not defined

In [21]:
print = 3     # Don't use python keywords as variable names 
print(print)

TypeError: 'int' object is not callable

# Constant

In [1]:
PI = 3.14 #make it in capital letters so other programers know it is a constant
print(PI)

3.14

# Augmented Assignment operator

In [4]:
a = 5
a += 2 # meaning a = a + 2
print(a)

7

In [5]:
b = 8
b -= 3 # meaning b = b - 3
print(b)

5

# String

In [6]:
'Helloo , this is a string !'
print(type('Helloo , this is a string !'))

<class 'str'>

In [1]:
print("he"*4)

hehehehe

In [7]:
long_string = ''' This 
is 
a long
string or multiline 
string '''
print(long_string)

 This
is
a long
string or multiline
string

### String concatinition

In [12]:
first_name = 'Aditya '
second_name = 'Singh'
full_name = first_name + second_name 
print(full_name)

Aditya Singh

In [13]:
len(full_name)    # To get the length of a string

12

# Type conversion

In [11]:
print(str(100))

100

In [12]:
print(type(str(100)))

<class 'str'>

In [13]:
print(type(int(str(100))))

<class 'int'>

# Escape Sequence

In [14]:
print('  ''  ')

In [18]:
print('  \'\'  ')  # To print '' use \' instead of using only '

  ''

In [21]:
# \t means tab 
print("\t Hello")

	 Hello

In [22]:
# \n means next line 
print("Hello \n learner")

Hello
 learner

# Formated string

In [26]:
name = 'John'
age = 55
print(f'hi {name} You are {age} years old')

hi John You are 55 years old

In [28]:
print('hi {} You are {} years old'.format(name,age))

hi John You are 55 years old

In [29]:
print('hi {1} You are {0} years old'.format(name,age))

hi 55 You are John years old

# String indexes

In [1]:
str_1 = 'Aditya'    #Aditya
str_1[0]            #012345

'A'

In [3]:
str_1[4]

'y'

In [5]:
str_1[2:5]

'ity'

In [6]:
str_1[1:6:2]   #[start:stop:stepover]

'dta'

In [7]:
str_1[-1]      # From last

'a'

In [8]:
print(str_1)

Aditya

# Strings are immutable

In [9]:
string = "123456"
string[0] = 3
print(string)

TypeError: 'str' object does not support item assignment

In [10]:
string = "123456"
string = "3"      # We can assign new string 
print(string)

3

# String methods

In [17]:
quote = "to be or not to be"
print(quote.upper())
print(quote.capitalize())

TO BE OR NOT TO BE
To be or not to be

In [18]:
print(quote.find("be"))

3

In [19]:
print(quote.replace("be","me"))

to me or not to me

In [20]:
print(quote)

to be or not to be

capitalize()	Converts the first character to upper case
casefold()	    Converts string into lower case
center()	    Returns a centered string
count()	        Returns the number of times a specified value occurs in a string
encode()	    Returns an encoded version of the string
endswith()	    Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	        Searches the string for a specified value and returns the position of where it was found
format()	    Formats specified values in a string
format_map()	Formats specified values in a string
index()	        Searches the string for a specified value and returns the position of where it was found
isalnum()	    Returns True if all characters in the string are alphanumeric
isalpha()	    Returns True if all characters in the string are in the alphabet
isascii()	    Returns True if all characters in the string are ascii characters
isdecimal()	    Returns True if all characters in the string are decimals
isdigit()	    Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	    Returns True if all characters in the string are lower case
isnumeric()	    Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	    Returns True if all characters in the string are whitespaces
istitle()	    Returns True if the string follows the rules of a title
isupper()	    Returns True if all characters in the string are upper case
join()	        Converts the elements of an iterable into a string
ljust()	        Returns a left justified version of the string
lower()	        Converts a string into lower case
lstrip()	    Returns a left trim version of the string
maketrans()	    Returns a translation table to be used in translations
partition()	    Returns a tuple where the string is parted into three parts
replace()	    Returns a string where a specified value is replaced with a specified value
rfind()	        Searches the string for a specified value and returns the last position of where it was found
rindex()	    Searches the string for a specified value and returns the last position of where it was found
rjust()	        Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	    Splits the string at the specified separator, and returns a list
rstrip()	    Returns a right trim version of the string}
split()	        Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	        Returns a trimmed version of the string
swapcase()	    Swaps cases, lower case becomes upper case and vice versa
title()      	Converts the first character of each word to upper case
translate()	    Returns a translated string
upper()	        Converts a string into upper case
zfill()	        Fills the string with a specified number of 0 values at the beginning

# Booleans

Gives a value True or False